h1{
text-align: center;
background-color: aqua;

}
#personal{

    text-align: center;
    
}
#outer{

    background-color: aqua;
}
h2{

    text-align: center;
}

div{

    text-align: center;
}
body{

    font-size: large;
}