* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  width: 800px;
  margin: auto;
  background-image: url(/Images/splashbg.avif);
  background-size: cover;
  overflow: hidden;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

table {
  width: 80%;
  transform: translate(5%);
  border-collapse: collapse;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  border-top: none;
}

td,
th {
  padding: 10px;
  border: 3px solid #ddd;
  font-size: large;
}

td {
  text-align: left;
}

.title h1 {
  text-align: center;
  justify-content: center;
}

p {
  margin: 10px 0 20px 0;
}

h1,
p {
  color: white;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.content {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
  transition: transform 1s ease-in-out;
}

.moveUp {
  transform: translateY(-100vh);
  opacity: 0;
}

.fadeOut {
  opacity: 0;
}

.loadingImg {
  width: 37%;
  transform: translateX(200px);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 17%;
  transform: translateX(-70px);
}

.title img {
  width: 20%;
}
